*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgba(255,255,255,0.8);
}

div#header-bar {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  text-align: center;
  padding: 1.75vh;
}

div#header-bar>p {
  margin: 0;
}

svg#gradient {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

div.main-content {
  position: relative;
  z-index: 1;
  padding: 1vw;
}

div h3, div h4 {
  margin: 0;
  font-weight: normal;
}

div.feed-box {
  background-color: rgba(0,0,0,0.2);
  padding: 1vw;
  border-radius: 10px;
  display: inline-block;
  margin: 0.5vw;
}
h3.feed-title {
  margin: 1vw 1vh;
  margin-top: 0;
}
div.feed-content {
  background-color: rgba(0,0,0,0.21);
  padding: 1vw;
  border-radius: 5px;
}

div.feeds {
  display: flex;
}
